.hidden{
    display : none;
}

body{
    background-color : rgb(255, 255, 255);
}


eventButton {
    background : rgb(189, 228, 247);
    height: 10;
    width : 20;
    
}


#wrapper{
    height: auto;
    min-height : 100%;
    padding-bottom : 10vh;
    text-align:center;
}
footer{
    height: 10vh;
    position:relative;
    transform:translateY(-100%);
}
textarea {
    font-size: 17px;
  }