.hidden{
    display : none;
}

#box{
    background:url('C:/2022_1_toyproject/background.jpg') no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

textarea {
    font-size: 17px;
  }