.hidden{
    display : none;
}

body{
    background-color : rgb(189, 187, 67);
}

/*
.container {
    background : rgba(128, 157, 238, 0.5);
    height: 10vh;
    width : 100vh;
    
}*/


#wrapper{
    height: auto;
    min-height : 100%;
    padding-bottom : 10vh;
    text-align:center;
}
footer{
    height: 10vh;
    position:relative;
    transform:translateY(-100%);
}
textarea {
    font-size: 17px;
  }